
<h3 class="titulo-productos text-center">Eventos UPeU Disponibles</h3>
<div class="lista-productos">
    <div class="producto" *ngFor="let data of eventos">
        <div class="imagenp">
            <img src="http://drive.google.com/uc?export=view&id={{data.link}}" alt="ImagenEvento">
        </div>
        <div class="titulo">
            <h4><b><i>{{data.titulo}}</i></b> </h4> 
        </div>
        
        <div class="boton">
            <button type="button" 
            style="color: white; background-color: #750036; border-color: #FC7DB2;" 
            class="btn btn-primary"><b>Ver</b></button>
        </div>
    </div>
</div>