<app-sidebar></app-sidebar>
<main>
  <div  class="mt-4" style="width: 100%; border: 1px solid #EC808D; color: #750036 !important; background-color: #DAC0CF;">
    ||AGREGAR COMENTARIO.
</div>
<div class="container" >
    <div class=" mt-5 col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 offset-1">

          <div class="card-body">

            <form [formGroup]="comentarioForm">
              <div class="form-group row" style="margin: auto;">
                <label for="inputName3" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label" style="margin: auto;"><i><b>Imagen Definido:</b></i></label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" style="text-align: center;">
                    <img src="../../../../assets/ImagenEgresado.png" alt="Imagen Egresado" style="width: 120px;">

                </div>
              </div>
              <div class="form-group row" style="margin: auto;">
                <label for="inputPassword3" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label"><i><b>Tipo de Comentario: </b></i></label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                    <select name="" id="" class="custom-select custom-select-lg mb-3" formControlName="tipo">
                        <option value="0">Queja</option>
                        <option value="1">Sugerencia</option>
                        <option value="2">Reclamo</option>
                    </select>
                </div>
              </div>
              <div class="form-group row row mb-2 mt-2" style="margin: auto;">
                <label for="inputPasswordConfirmation3" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label"><i><b>Comentario:</b></i></label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                    <textarea name="" id="" class="textinput form-control" formControlName="descripcionEgresado" placeholder="Descripción del Comentario"></textarea>

                </div>
              </div>
              <div class="form-group row mb-2 mt-4" style="margin: auto;">
                <label for="inputPasswordConfirmation3" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label"> <i><b>(Opcional):</b></i></label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                    <select name="" id="" class="custom-select custom-select-lg mb-3" formControlName="opcional">
                      <option value="0">No Anonimo</option>
                      <option value="1">Anonimo</option>
                  </select>
                </div>
              </div>

              <div class="form-group row mt-4" style="margin: auto;">
                <div class="col-12 " style="text-align: center; ">
                  <button type="submit" class="btn btn-primary" [disabled]="!comentarioForm.valid || btnDisable"   (click)="SubmitComentario()" style="background-color:#750036 ; padding: 1%; width: 120px; border-color: #EC808D; border-radius: 10px;" >Guardar</button>
                </div>
              </div> 
            </form>
          </div>
    </div>
  </div>
</main>
  