

<div class="row mt-2">
    <div class="col-12">
        <div  style="width: 30%; border: 1px solid #EC808D; color: #750036; background-color: #DAC0CF;
        text-align: center; margin:0px auto;    padding: 10px;">
            <b>BUSQUEDA DE EGRESADOS</b>
        </div>
    </div>
</div>

<div >
    <div class="row mt-2">
        <div class="col-4">
            <label>Nombre:</label> <br>
            <input type="search" name="" id="" style="width: 80%; " class="form-control">
        </div>
        <div class="col-4">
            <label>Apellido Paterno:</label> <br>
            <input type="search" name="" id="" style="width: 80%;" class="form-control">
        </div>
        <div class="col-4">
            <label>Apellido Materno:</label> <br>
            <input type="search" name="" id="" style="width: 80%;" class="form-control">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-4">
            <label>Codigo:</label> <br>
            <input type="search" name="" id="" style="width: 80%;" class="form-control">
        </div>
        <div class="col-4">
            <label>DNI:</label> <br>
            <input type="search" name="" id="" style="width: 80%;" class="form-control">
        </div>
        <div class="col-4">
            <label>Estado:</label> <br>
            <input type="search" name="" id="" style="width: 80%;" class="form-control">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12" style="text-align: center;  ">
            <button style="width: 20%; height: 40px; margin: auto;" class=" boton form-control">
                <b>Buscar</b>
            </button>
        </div>
        
    </div>
</div>

<table class="table mt-3">
    <thead style="background-color: #DAC0CF;">
        <tr >
            <th>Estado</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Es. Profesional</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bordesid">Verde imagen</td>
            <td class="bordes">201810802</td>
            <td class="bordes" style=" text-align: center;   width: 15%;">Tania</td>
            <td class="bordes" style=" text-align: center;   width: 15%;">Casas Guillen</td>
            <td class="bordes" style=" text-align: center;   width: 15%;">ING Sistemas</td>
            <td class="bordes" style=" text-align: center;   width: 15%;">925625818</td>
            <td class="botones"><button class="boton form-control">Editar</button></td>
        </tr>
        <tr>
            <td class="bordesid">Amarillo imagen</td>
            <td class="bordes">201811293</td>
            <td class="bordes" style=" text-align: center;   width: 15%;">Tomas</td>
            <td class="bordes" style=" text-align: center;   width: 15%;">Calamardo Esponja</td>
            <td class="bordes" style=" text-align: center;   width: 15%;">ING Sistemas</td>
            <td class="bordes" style=" text-align: center;   width: 15%;">925625810</td>
            <td class="botones "><button class="boton form-control">Editar</button></td>
        </tr>
        
    </tbody>

</table>

<div class="row mt-5">
    <div class="col-12" style="text-align: center;  ">
        <button style="width: 20%; height: 40px; margin: auto;" class=" boton form-control">
            <b>Registrar</b>
        </button>
    </div>
    
</div>