<div class="m-1">
    <div class="row">
        <div class="col-6 mt-2 mb-3" *ngFor="let c of comentarios | paginate: { itemsPerPage: 4, currentPage: pageActual }">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <img src="../../../../assets/ImagenEgresado.png" alt="Imagen Egresado" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div style="text-align: center; color: white;">
                                <b>Egresado</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                    <div class="row mb-3">
                        <div class="col-12" >
                            <div style="width: 100%; border: 1px solid #EC808D; 
                            color: #750036; background-color: #DAC0CF; text-align: center; padding: 2%;">
                               {{c.nombre}} {{c.ap_paterno}} {{c.ap_materno}}
                            </div>
                            
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12" style="color: white !important; ">
                            {{c.descripcionEgresado}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row mb-2">
                                <div class="col-12">
                                   <button type="submit" class="boton" style="width: 132px; padding: 1%;" routerLink="/administrador/GestionarComentarios/comentario/{{c.id}}">
                                        Responder
                                   </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="boton" style="width: 132px; padding: 1%;" (click)="EliminarComentario(c.id)">
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="row">
        <pagination-controls (pageChange)="pageActual = $event">
        </pagination-controls>  
    </div>
</div>