.boton{
    border-color: #797979;
    background-color: white;
    color: #750036;
    border-radius: 10px;
}
main {
    color: rgb(218, 192, 207);
    margin-left: 12%;
    padding: 1rem; 
  }
  img{
    width: 100%;
}
.col-12 ,.col-sm-12 ,.col-md-5 ,.col-lg-5 ,.col-xl-5 ,.col-md-7 ,.col-lg-7 ,.col-xl-7 ,.col-6{
    position: initial;
}
  @media only screen and (max-width:599px){

    main{
        margin-right: 0%;
        margin-left: 0%;
        margin-top: 5rem;
        
        width: 100%;
    }

  }