
<div class="row mt-5 mb-5" style="color: white;">
    <div class="col-5">
        <div class="row">
            <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                Tipo de Documento:
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                DNI
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="row">
            <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                Nro de Documento:
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                70444029
            </div>
        </div>
    </div>
</div>
<div class="row" style="color: white;">
    <div class="col-6">
        <div class="row mb-3">
            <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                Apellido Paterno:
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                Casas
            </div>
        </div>
        <div class="row mb-3">
            <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                Apellido Materno:
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                Guillen
            </div>
        </div>
        <div class="row mb-3">
            <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                Nombre:
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                Tania
            </div>
        </div>
        <div class="row mb-3">
            <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                Codigo Universitario:
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                201311293
            </div>
        </div>
        <div class="row mb-3">
            <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                Genero:
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                Femenino
            </div>
        </div>
        <div class="row mb-3">
            <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                Facultad:
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                Ingenieria y Arquitectura
            </div>
        </div>
        <div class="row mb-3">
            <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                Escuela Profecional:
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                Ing. de Sistemas
            </div>
        </div>
    </div>
    <div class="col-6" style="text-align: center;">
           <img src="../../../../../assets/perfiluser.png" alt="" style="width: 200px;"> 
    </div>
</div>
<div class="row" style="color: white; ">
    <div class="col-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" style="font-weight: bolder;">Datos de Nacimiento</legend>
            <div class="control-group">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="row mb-3">
                                <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                    Fecha de Nacimiento:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" 
                                style="background-color: rgb(117, 0, 55); text-align: center; font-weight: bolder; margin: auto;">
                                    <p style="    margin: auto;">30/04/2000</p> 
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                    Pais:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    Perú
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                    Provincia:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    San Roman
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                    Edad:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    19
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                    Departamento:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    Puno
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                    Distrito:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    Juliaca
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row" style="color: white; ">
    <div class="col-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" style="font-weight: bolder;">Datos de Domicilio</legend>
            <div class="control-group">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="row mb-3">
                                <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                    Email:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    tania.casa@upeu.edu.pe
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                    Pais:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    Argentia
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="dato col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    Departamento:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    Buenos Aires P
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            
                            <div class="row mb-3">
                                <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                    Provincia:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    NOSEEE
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="dato col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    Número de Celular:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    987654321
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                    Distrito:
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    NOSEEE
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mb-3">
                        <div class="dato col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            Dirreción:
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            JR Y que se
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin: auto !important; text-align: center !important;">
                    <button class="boton form-control">Editar Datos</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>