<div *ngIf="(ListEgresado && ListPersona)">
    <div class="row mt-3 mb-5" style="color: white;">
        <div class="col-5">
            <div class="row">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Tipo de Documento:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" >
                    DNI
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Nro de Documento:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    {{ListPersona.dni}}
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="color: white;">
        <div class="col-6">
            <div class="row mb-3">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Apellido Paterno:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    {{ListPersona.ap_paterno}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Apellido Materno:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    {{ListPersona.ap_materno}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Nombre:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    {{ListPersona.nombre}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Codigo Universitario:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    {{ListEgresado.codigo}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Genero:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    {{ListPersona.sexo}}
                </div>
            </div>
            <div class="row mb-3" *ngIf="ListEscuelas">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Facultad:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" >
                    {{ListEscuelas.facultad}}
                </div>
            </div>
            <div class="row mb-3" *ngIf="ListEscuelas">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Escuela Profecional:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" >
                    {{ListEscuelas.escuela}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Año de Ingreso:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    {{ListEgresado.ingreso}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                    Año de Egreso:
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    {{ListEgresado.egreso}}
                </div>
            </div>
        </div>
        <div class="col-6" style="text-align: center;" >
            <img *ngIf="ListImagen == null" src="../../../../../assets/perfiluser.png" alt="">  
            <img *ngIf="ListImagen !== null" src="{{ListImagen.imagen}}" alt="">    
        </div>
    </div>
    <div class="row" style="color: white; ">
        <div class="col-12">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border" style="font-weight: bolder;">Datos de Nacimiento</legend>
                <div class="control-group">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-6">
                                <div class="row mb-3">
                                    <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                        Fecha de Nacimiento:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" 
                                    style="background-color: rgb(117, 0, 55); text-align: center; font-weight: bolder; margin: auto; border: 1px solid #FC7DB2;">
                                        <p style="    margin: auto;">{{ListPersona.fec_nacimiento | date:'dd/MM/yyyy'}}</p> 
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                        Pais:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListPersona.pais}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                        Provincia:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListPersona.provincia}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-3">
                                    <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                        Edad:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{edad}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                        Departamento:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListPersona.departamento}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                        Distrito:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListPersona.distrito}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row" style="color: white; ">
        <div class="col-12">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border" style="font-weight: bolder;">Datos de Domicilio</legend>
                <div class="control-group">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="row mb-3">
                                    <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                        Email:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListPersona.email}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="dato col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        Estado Civil:
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        {{ListPersona.est_civil}} 
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                        Pais:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListEgresado.pais_domicilio}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="dato col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        Departamento:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListEgresado.departamento_domicilio}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                
                                <div class="row mb-3">
                                    <div class="dato col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        Provincia:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListEgresado.provincia_domicilio}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="dato col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6">
                                        Distrito:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListEgresado.distrito_domicilio}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="dato col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        Número de Celular:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListEgresado.celular}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="dato col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        Dirreción:
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        {{ListEgresado.direccion}} 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
 
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div style="margin: auto !important; text-align: center !important;">
                <button class="boton form-control" routerLink="/egresados/DatosEgresados/actualizar/{{ListEgresado.Egresado_id}}">Editar Datos</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12" style="text-align: center;">
                <a href="https://sheltered-scrubland-22795.herokuapp.com/user-list-pdf/{{idegresado}}">
                    <button style="width: 160px; height: 70px; margin: auto;"    class=" boton form-control" >
                        <b>CURRICULUM VITAE</b>
                    </button>
                </a>
        </div>
     </div>
</div>
