<div class="mb-3 mt-1" style="width: 100%; height: 50px;display: flex;
align-items: center;border: 1px solid #EC808D; color: #750036; background-color: #DAC0CF;">
    <div style="margin-left: 10px;">
        || Formación Academica UPeU
    </div>
</div>
<div class=" mb-3" style="color: white; ">
    PostGrado y Otros Estudios
</div>
<div class="row mb-3">
    <div class="col-12">
        <button style="width: 120px; height: 40px; " class=" boton form-control" routerLink="/egresados/Documentos-Postragdo">
            <b>+Nuevo</b>
        </button>
    </div>
</div>

<div class="m-1">
    <table class="table">
        <thead  style="background-color: #DAC0CF; ">
            <tr>
                <th id="no3">Tipo</th>
                <th>Descripción</th>
                <th id="no2">Entidad</th>
                <th id="no">Desde </th>
                <th id="no">Hasta</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;" *ngFor="let post of ListPostgrados | paginate: { itemsPerPage: 5, currentPage: pageActual }">
                <td id="no3" class="bordes">{{post.agrado_academico}}</td>
                <td class="bordes">{{post.descripcion}}</td>
                <td id="no2"class="bordes">{{post.entidad}}</td>
                <td id="no" class="bordes">{{post.desde | date:'dd/MM/yyyy'}}</td>
                <td id="no" class="bordes">{{post.hasta | date:'dd/MM/yyyy'}}</td>
                <td class="botones">
                    <button class="boton form-control mb-1" routerLink="/egresados/Documentos-Postragdo/{{post.id}}">Editar</button>
                    <button class="boton form-control mt-1" routerLink="/egresados/Ver-Documentos-Postragdo/{{post.id}}">Ver</button>
                </td>
            </tr>
           
        </tbody>
        <tfoot>
            <tr class="bordesid" style="text-align: start;">
                <th colspan="5">
                    <pagination-controls (pageChange)="pageActual = $event">
                    </pagination-controls>
                </th>
            </tr>
        </tfoot>
    </table>
    
</div>